NODE_ENV=production
PORT=3000
ENABLE_IN_APP_CAMPAIGN_SCHEDULER=false
CAMPAIGN_SCHEDULER_INTERVAL_MS=5000
CAMPAIGN_WORKER_HEARTBEAT_MS=15000
CAMPAIGN_WORKER_LOCK_STALE_MS=120000
CAMPAIGN_WORKER_ID=aws-worker-1
