NODE_ENV=production
PORT=3000
ENABLE_IN_APP_CAMPAIGN_SCHEDULER=false
CAMPAIGN_SCHEDULER_INTERVAL_MS=5000
CAMPAIGN_WORKER_HEARTBEAT_MS=15000
CAMPAIGN_WORKER_LOCK_STALE_MS=120000
CAMPAIGN_WORKER_ID=aws-worker-1
TUT_TENANT_ID=9f868187-b8e7-4a96-b0ea-269472667cbf
TUT_CLIENT_ID=c40619f8-2da9-481d-ba34-9aa3b12e430b
TUT_CLIENT_SECRET=replace-with-tut-client-secret-value
TUT_GRAPH_SENDER_EMAIL=jordan@theunicorntimes.com
