PORT=5000
NODE_ENV=development
JWT_SECRET=change-this-secret

# MongoDB Atlas SRV URI (replace placeholders)
# Format:
# mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/<db-name>?retryWrites=true&w=majority&appName=<app-name>
MONGODB_URI=mongodb+srv://username:password@cluster-name.mongodb.net/email-bot-dashboard?retryWrites=true&w=majority&appName=email-bot-dashboard
